.page-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
    margin-bottom: var(--p-m);
    outline: red;
}

.menu {
    padding: var(--p-sm);
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-sm);
    display: flex;
    justify-content: space-around;
}

.menu > button{
    all: unset;
    cursor: pointer;
    padding: var(--p-xs) var(--p-sm);
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--softgray);
}

.menu > button:hover{
    border-bottom: 2px solid var(--black);
}

.menu > button.selected{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.content{
    flex-grow: 1;
    display: flex;
}

.content > div{
    display: none;
}

.content > div.show{
    display: flex;
}

.content-default{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-sm);
    padding: var(--p-m);
}

.content-table{
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-sm);
    padding: var(--p-m);
}

.table{
    flex-grow: 1;
    border-collapse: collapse;
}

.table > tbody > tr:nth-of-type(odd) > td{
    background-color: var(--softgray);
    padding: var(--p-xs);
}

.table > tbody > tr > td{
    padding: var(--p-xs);
}

.content-visite{
    flex-grow: 1;
    display: grid;
    gap: var(--p-m);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    background-color: var(--white);
}

.span-2{
    grid-row: span 2;
}

.content-visite > *{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-sm);
    padding: var(--p-sm);
    font-size: 1.25rem;
}

.content-visite > button{
    all: unset;
    background-color: var(--error);
    color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-xs);
    padding: var(--p-sm);
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
}

.content-visite > button:hover{
    background-color: var(--error-hover);
}

.content > div.show.content-visite {
    display: grid;
}

.span-2{
    grid-column: span 2;
}
