@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

:root{
    --primary: #06b6d4;
    --black: #030712;
    --gray: #9ca3af;
    --softgray: #d1d5db;
    --white: #ecfeff;
    --white-trasparent: #ecfeff60;
    --primary-hover: #0891b2;
    --hover: #cffafe;
    --error: #e2121d;
    --error-hover: #cb101a;
    --p-xs: 0.5rem;
    --p-sm: 1rem;
    --p-m: 2rem;
    --p-l: 4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    color: var(--black);
}

html, body{
    height: 100%;
    width: 100%;
    background-color: var(--white);
}

body{
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,li,a{
    all: unset;
}

input{
    border: unset;
    background-color: unset;
    color: var(--black);
}

.container{
    isolation: isolate;
    min-height: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.max-width{
    width: min(120rem, calc(100% - var(--p-m) * 2));
}

.max-width-medium{
    width: min(90rem, calc(100% - var(--p-m) * 2));
}

.max-width-small{
    width: min(70rem, calc(100% - var(--p-m) * 2));
}

.max-width-x-small{
    width: min(40rem, calc(100% - var(--p-m) * 2));
}

.selected{
    color: var(--primary);
}

.navbar{
    background-color: var(--white);
    user-select: none;
    padding: var(--p-sm);
    margin: var(--p-m);
    border-radius: var(--p-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    gap: var(--p-sm);
}

.navbar-title{
    padding: var(--p-xs);
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar-menu-item{
    padding: var(--p-xs) var(--p-sm);
    border-radius: var(--p-xs);
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
}

.navbar-menu-item:hover{
    background-color: var(--hover);
}

.login{
    background-color: var(--primary);
    color: var(--white);
}

.login:hover{
    background-color: var(--primary-hover);
}

.sign-in{
    color: var(--primary);
    border: 2px solid var(--primary);
}

.sign-in:before{
    content: '';
    height: 100%;
}

.sign-in:hover{
    background-color: var(--white);
    color: var(--primary-hover);
    border: 2px solid var(--primary-hover);
}

.footer{
    width: 100%;
    padding: var(--p-m) 0px;
    margin-top: auto;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-content: center;
    justify-content: center;
}

.image-container{
    z-index: -2;
    height: 100vh;
    width: 70%;
    overflow: hidden;
    position: absolute;
    display: flex;
    top: 0;
}

.image-container > img{
    object-fit: cover;
    width: 100%;
}

.hp-title-container{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.hp-title{
    font-size: 8rem;
    font-weight: 800;
    letter-spacing: 0.75rem;
}

.in-text-image{
    width: min(45rem,30%);
    float: right;
    margin: 0rem 0rem var(--p-l) var(--p-l);
}

.hp-p-title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hp-text{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.hp-dowload{
    padding: var(--p-xs) var(--p-sm);
    border-radius: var(--p-xs);
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
}

.hp-dowload:hover{
    background-color: var(--primary-hover);
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    font-size: 0.875rem;
    line-height: 1.25rem;

}

.footer-img{
    width: var(--p-l);
}

.footer-img-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.page-title{
    display: block;
    width: 100%;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.cs-container{
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
    margin: 0rem 0rem var(--p-l) 0;
}

.float-right{
    float: right;
}

.cs-box{
    display: flex;
    align-items: center;
    gap: var(--p-m);
}

.cs-text{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
}

.cs-p-title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: var(--p-l);
}

.at-container{
    display: flex;
    flex-direction: row;
    gap: var(--p-l);
    margin-top: var(--p-l);
    margin-bottom: var(--p-l);
}

.at-box{
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
    width: 100%;
}

.at-p-title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.at-box > * > img{
    cursor: pointer;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.img-bg{
    position: absolute;
    z-index: -2;
    top: 0;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
}

.container-attivita{
    z-index: 0;
    isolation: isolate;
    min-height: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-l);
    background-color: var(--white);
}

.bcg-trasparent{
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--white-trasparent);
}

.ac-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--p-l);
}

.ac-text{
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: justify;
    font-weight: 500;
}

.logout{
    background-color: var(--error);
    color: var(--white);
}

.logout:hover{
    background-color: var(--error-hover);
}

.obbligatorio:after{
    content: "*";
    color: var(--error);
}

.form{
    margin-top: var(--p-m);
    margin-bottom: var(--p-m);
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
}

.form-row{
    display: flex;
    flex-direction: row;
    gap: var(--p-m);
}

.form-row > *{
    width: 100%;
}

.form label{
    position: absolute;
}

.form-ele-wrapper{
    position: relative;
}

.form input{
    width: 100%;
    border-radius: var(--p-xs);
    border: 2px solid var(--gray);
    padding: var(--p-xs) 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.form input:focus{
    border: 2px solid var(--black);
}

.form label{
    padding: 0 var(--p-xs);
    background-color: var(--white);
    transform: translate(0.5rem,-50%);
    border-radius: var(--p-xs);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.radio{
    display: flex;
    flex-direction: row;
    gap: var(--p-m);
    justify-content: space-between;
    align-items: center;
}

.radio label{
    position: initial;
    transform: initial;
    padding: 0;
}

.radio > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--p-sm);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
}

.form-button{
    color: var(--black);
    cursor: pointer;
}

.form-button:hover{
    color: var(--primary);
    border: 2px solid var(--primary) !important;
}

.combo-box{
    display: flex;
    flex-direction: column;
    gap: var(--p-xs);
}

.combo-box select{
    background-color: transparent;
    width: 100%;
    border-radius: var(--p-xs);
    border: 2px solid var(--gray);
    padding: var(--p-xs) 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.combo-box option{
    background-color: var(--white);
    border-radius: var(--p-xs);
    border: 2px solid var(--gray);
}

.multi-lines-text textarea{
    background-color: transparent;
    width: 100%;
    border-radius: var(--p-xs);
    border: 2px solid var(--gray);
    padding: var(--p-xs) 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.mostra-password{
    display: none;
    position: absolute;
    width: initial !important;
}

.mostra-password + label{
    background:url('../img/hide.svg') no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    display:inline-block;
    padding: 0 0 0 0px;
    top: 50%;
    right: var(--p-sm);
    transform: translate(0,-50%);
    cursor: pointer;
}

.mostra-password:checked + label{
    background:url('../img/show.svg') no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    display:inline-block;
    padding: 0 0 0 0px;
    top: 50%;
    right: var(--p-sm);
    transform: translate(0,-50%);
    cursor: pointer;
}

#portal{
    position: fixed;
    z-index: 999;
    right: var(--p-m);
    top: var(--p-m);
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: var(--p-sm);
}

#portal > p{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: var(--p-sm);
    background-color: var(--error);
    color: var(--white);
    border-radius: var(--p-xs);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    font-weight: 500;
}

.cookie-container{
    position: fixed;
    z-index: 999;
    right: var(--p-m);
    bottom: var(--p-m);
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: var(--p-sm);
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: var(--p-sm);
    padding: var(--p-sm);
}

.bold{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: -0.75rem;
}

.cookie-container > button{
    all: unset;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--p-xs);
    padding: var(--p-xs);
    text-align: center;
    cursor: pointer;
}

.cookie-container > button:hover{
    background-color: var(--primary-hover);
}